@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import 'scrollbar';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.text-primary-p {
    color: #a5aaad;
    font-size: 14px;
    font-weight: 700;
}

.font-bold {
    font-weight: 700;
}

.text-title {
    color: #2e4a66;
}

.text-lightblue {
    color: #469cac;
}

.text-red {
    color: #cc3d38;
}

.text-yellow {
    color: #a98921;
}

.text-green {
    color: #3b9668;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        "sidebar nav nav nav"
        "sidebar main main main";
}


// For navbar
.navbar {
    background: #ffffff;
    grid-row: 1;
    grid-column: 2;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
}

.nav_icon {
    display: none;
    cursor: pointer;

    > i {
        font-size: 26px;
        color: #a5aaad;
    }
}

.navbar__left {
    > a {
        margin-right: 30px;
        text-decoration: none;
        color: #a5aaad;
        font-size: 15px;
        font-weight: 700;
    }
}

.active_link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;

    > a {
        margin-left: 20px;
        text-decoration: none;
        color: #e65061;
        font-size: 15px;
        font-weight: 700;

        > i {
            color: #a5aaad;
            font-size: 20px;
            padding: 10px;
            border-right: 1px solid lightgray;
            background: #ffffff;
        }
    }

    .popup {
        position: relative;
        display: inline-block;
        transition: 0.5s;

        .popupText {
            visibility: hidden;
            width: 120px;
            background-color: #696969;
            color: #fff;
            text-align: center;
            border-radius: 10px;
            padding: 3px 0;
            box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
    
            /* Posisi */
            position: absolute;
            z-index: 1;
            top: 5px;
            right: 105%;
        }
    
        &:hover {
            i {
                color: #BA55D3;
            }
            .popupText {
                visibility: visible;
            }
        }
    }

    .points {
        padding: 15px;
        // margin-right: 10px;
        align-items: center;
        display: flex;
        justify-content: space-between;

        > i {
            color: black;
            font-size: 30px;
            padding: 10px;
            background: #ffffff;
        }
    }

    .signout {
        > i {
            font-size: 14px;
            border: none;
            padding: 5px;
            color: #e65061;
        }

        &:hover {
            color: #c2293b;
        }
    }
}


// For Dashboard
main {
    background: #f3f4f6;
    grid-row: 2;
    grid-column: 2;
    grid-area: main;
    overflow-y: auto;
}

.main__container {
    padding: 20px 50px;
}

.main__title {
    display: flex;
    align-items: center;

    // > img {
    //     max-height: 100px;
    //     object-fit: contain;
    //     margin-right: 20px;
    // }
}

.main__greeting {
    > h1 {
        font-size: 2.5rem;
        color: #2e4a66;
        margin-bottom: 5px;
    }

    > p {
        font-size: 14px;
        font-weight: 700;
        color: #a5aaad;
    }
}

.charts {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 30px;
    margin-top: 50px;
}

.charts__left {
    padding: 25px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;

    h2 {
        color: #708090;
        font-size: 18px;
        margin: 15px 0;
        // margin-bottom: 5px;
        padding: 0 10px;
        font-weight: 700;
    }
}

.charts__left__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
        > h1 {
            font-size: 24px;
            color: #2e4a66;
            margin-bottom: 5px;
        }

        > p {
            font-size: 14px;
            font-weight: 700;
            color: #a5aaad;
        }
    }

    > i {
        color: #ffffff;
        font-size: 20px;
        background: #8A2BE2;
        border-radius: 200px 0 200px 200px;
        -moz-border-radius: 200px 0 200px 200px;
        -webkit-border-radius: 200px 0 200px 200px;
        border: 0px solid #000000;
        padding: 15px;
    }
}

.profile__column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profile__card {
    margin: 10px 0;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    height: 30px;
    padding: 25px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.profile__inner {
    display: inline;
    align-items: center;
    justify-content: space-between;
    > p {
        font-size: 18px;
        font-weight: 700;
    }
    > span {
        font-size: 15px;
    }
}

.profile__data {
    position: relative;
    justify-content: space-between;
    padding: 15px;
    background: #ffffff;

    p {
        font-size: 14px;
        font-weight: 700;
        margin-left: 20px;
    }

    i {
        margin-right: 10px;
    }
}

.data {
    position: relative;
    padding: 10px 0;
    display: flex;
}

.data__icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.data__inner {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;

    > p {
        font-weight: 700;
    }
}

.profile__travel {
    position: relative;
    justify-content: space-between;
    padding: 15px;
    background: #ffffff;

    p {
        font-size: 14px;
        font-weight: 700;
        margin-left: 20px;
    }

    i {
        margin-right: 10px;
    }
}

.btn {
    position: relative;
    justify-content: space-between;
    padding: 15px;
    background: #ffffff;

    .edit {
        display: inline;
        margin-top: 30px;
        background: #0088dc;
        color: #f3f4f6;
        padding: 10px 15px;
        border: none;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
    }

    .pass {
        display: inline;
        margin-top: 30px;
        background: #fb4d46;
        color: #f3f4f6;
        padding: 10px 15px;
        border: none;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
    }
}

.main__book {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 30px;
    margin-top: 50px;
}

.book {
    padding: 25px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.book__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
        > h1 {
            font-size: 24px;
            color: #2e4a66;
            margin-bottom: 5px;
        }

        > p {
            font-size: 14px;
            font-weight: 700;
            color: #a5aaad;
        }
    }

    > i {
        color: #ffffff;
        font-size: 20px;
        background: #8A2BE2;
        border-radius: 200px 0 200px 200px;
        -moz-border-radius: 200px 0 200px 200px;
        -webkit-border-radius: 200px 0 200px 200px;
        border: 0px solid #000000;
        padding: 15px;
    }
}

// For sidebar
#sidebar {
    // background: #020509;
    background: #ffffff;
    height: 100vh;
    grid-row: 1;
    grid-column: 1;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    border-right: 1px solid lightgray;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar__title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #010b13;
    margin-bottom: 30px;

    > div {
        > img {
            width: 100px;
            object-fit: contain;
        }
    }

    > i {
        font-size: 18px;
        display: none;
        cursor: pointer;
    }
}

.sidebar__img {
    display: flex;
    align-items: center;
}

.sidebar__menu {
    > h2 {
        color: #3ea175;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 5px;
        padding: 0 10px;
        font-weight: 700;
    }
}

.sidebar__link {
    color: #f3f4f6;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        // background: #BA55D3;
        background: #D8BFD8;
    }

    > a {
        text-decoration: none;
        color: #010b13;
        padding-left: 30px;
        font-weight: 700;

        > i {
            margin-right: 10px;
            // padding-right: 10px;
            font-size: 18px;
        }
    }

    
}

.active_menu_link {
    background: #BA55D3 !important;
    color: #010b13;

    a {
        color: #010b13 !important; 
    }
}

.logout {
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
    transition: 0.2s;
    color: #e65061;
    cursor: pointer;

    > a {
        text-decoration: none;
        color: #e65061;
        padding-left: 30px;
        font-weight: 700;
        // text-transform: uppercase;

        > i {
            margin-right: 10px;
            font-size: 18px;
        }
    }

    &:hover {
        background: #D8BFD8;
    }
}

.sidebar_responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}

@import 'table';
@import 'responsive';